img{height: 150px; width: 150px; border: 1px solid black; margin: 20px }

.asid-linha{margin-left: 200px; margin-top: -70px; font: 16px arial, verdana, helvetica, sans-serif; }
.heroi-base{height: 200px; width: 550px;}

.ico_status {
   width: 20px; 
   height: 20px;
   border: white;
}

a.dcontexto {
	position: relative;
	font: 14px arial, verdana, helvetica, sans-serif;
	padding: 0;
	color: #039;
	text-decoration: none;
	cursor: help;
	z-index: 24;
}
a.dcontexto:hover {
	background: transparent;
	z-index: 25;
}
a.dcontexto span {
	display: none;
}
a.dcontexto:hover span {
	display: block;
	position: absolute;
	width: 230px;
	top: 0em;
	text-align: justify;
	left: 6em;
	font: 14px Verdana, arial, helvetica, sans-serif;
	padding: 5px 10px;
	border: 1px solid #999;
	background: #E8EBF2;
	color: #000;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: fixed;
    left: 0;
    top: 0;
  }
}
@media (max-width: 550px) {
  #imagem{display: none;}
  .btn-toggle{display: block;}
}

@media (max-width: 550px) {
  #grafico{display: none;}
  .btn-toggle{display: block;}
}

@media (max-width: 990px) {
  #botoesRelatorio{display: none;}
  .btn-toggle{display: block;}
}

@media (max-width: 550px) {
  #perfil{height: 50px; 
  width: 550px; 
  margin-left: -200px; 
  margin-top: 100px;
  font: 8px Verdana, arial, helvetica, sans-serif;}
  
}

div#container{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	background-color: #eee;
	display: block;
}
div#loader{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left:0px;
	background-color: #eee;
	background-image: url('../img/load1.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
